<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moje biuro podróży</title>
    <link href="style1.css" rel="stylesheet">
    <link rel="shortcut icon" href="img/logo_male.png" type="image/png">
</head>
<body>
    <header>
        <div class="logo">
            <a href="index.html"><img src="/img/logo_male.png" alt="Moje biuro logo"></a>
            <h1>Moje biuro podróży</h1>
        </div>
        <nav>
            <ul>
                <li>o nas</li>
                <li>wycieczki
                    <ul class="subnav">
                        <li>wycieczka 1</li>
                        <li>wycieczka 2</li>
                    </ul>
                </li>
                <li>cennik</li>
                <li>kontakt</li>
            </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>
</html>